@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/GraphikThin.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/GraphikExtralight.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/GraphikLight.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/GraphikMedium.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/GraphikRegular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/GraphikSemibold.otf") format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/GraphikSuper.otf") format("opentype");
}

:root {
  font-size: 0.8vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Graphik, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certificate_container {
  position: relative;
  display: flex;
  width: 100rem;
  height: 54.6875rem;
  padding: 6.875rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 4.01042rem;
  color: #fff;
  text-align: center;
  font-family: Graphik;
  font-size: 2.08333rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.certificate_background {
  position: absolute;
  width: 100rem;
  height: 54.6875rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.title {
  color: #fff;
  text-align: center;
  font-family: Graphik;
  font-size: 4.16667rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.participant_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.41667rem;
  align-self: stretch;
  color: #fff;
  text-align: center;
}

.participant-name_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  text-align: center;
  font-size: 3.33333rem;
}

.underline {
  width: 100%;
  height: 0.10417rem;
  background: #fff;
  flex-shrink: 0;
  align-self: stretch;
}

.description {
  width: 58.90625rem;
}
